.highlighted-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    width: 70%;
    max-width: 50rem;
    margin: 3rem auto;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

@media (max-width: 950px) {
    .highlighted-product {
        width: 95%;
        margin: 1rem auto;
    }
}

.highlighted-product a {
    text-decoration: none;
}

.highlighted-product h1 {
    color: #363636;
    text-transform: uppercase;
}

.highlighted-product-display {
    flex-basis: 45%;
}

.highlighted-product-img-container {
    width: 100%;
}

.highlighted-product-img-container img {
    width: 100%;
    object-fit: cover;
    max-height: 20rem;
    border-radius: 5px;
}

.highlighted-product-text {
    flex-basis: 45%;
    padding: 1rem;
}

.quantity {
    font-weight: bold;
    padding: 0.25rem 0.75rem;
    border-radius: 6px;
    color: #363636;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.highlighted-product .actions button {
    font: inherit;
    font-weight: bold;
    font-size: 1.25rem;
    background-color: var(--main-color);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    color: white;
    width: 3rem;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 1rem;
    margin: 0.25rem;
    outline: none;
    border: none;
}

.highlighted-product .actions button:hover,
.highlighted-product .actions button:active {
    background-color: var(--button-hover-color);
    color: white;
    cursor: pointer;
}

.add-cart-btn {
    width: 100%;
    padding: 0.5rem 3rem;
    margin: 0.5rem 0;
    font: inherit;
    font-weight: bold;
    font-size: 1.25rem;
    background-color: #F68B1E;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
}

.add-cart-btn:hover,
.add-cart-btn:active {
    background-color: #E4811C;
    color: white;
    cursor: pointer;
}