.products {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin-top: 1.5rem;
    max-height: 30rem;
    overflow-y: scroll;
}

.available-products {
    flex-basis: 75%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    row-gap: 2rem;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.available-products a {
    text-decoration: none;
}

.products img {
    margin: 0 auto;
}