.products {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    max-height: 30rem;
    overflow-y: scroll;
    padding: 0 5rem;
}

.available-products {
    flex-basis: 75%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    row-gap: 2rem;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

@media (max-width: 700px) {
    .available-products {
        grid-template-columns: repeat(2, 45%);
        height: 50rem;
        overflow-y: scroll;
    }

    .products {
        padding: 0 1rem;
        height: 50rem;
    }
}

@media screen and (max-width: 610px) {
    .available-products {
        margin-left: 1rem;
    }
}

@media (max-width: 500px) {
    .available-products {
        grid-template-columns: repeat(1, 100%);
    }
}

.available-products a {
    text-decoration: none;
}

.products img {
    margin: 0 auto;
}