.products {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin-top: 1.5rem;
    max-height: 30rem;
    overflow-y: scroll;
}

.produtcs-nav {
    flex-basis: 25%;
    list-style: none;
}

.products .produtcs-nav ul {
    display: flex;
    flex-direction: column;
}

.products .produtcs-nav ul a {
    text-decoration: none;
    list-style: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: #363636;
}

/* .produtcs-nav ul li {
    list-style: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: #363636;
} */

.produtcs-nav ul a:hover {
    cursor: pointer;
    color: #F68B1E;
    background-color: white;
}

.available-products {
    flex-basis: 75%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    row-gap: 2rem;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.available-products a {
    text-decoration: none;
}

.products img {
    margin: 0 auto;
}